<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>pineappleonpizza-bjcnp</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/64d179b35098160e4122ceef/apps/64d6a7468c8c65db5edc30e3</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://ap-south-1.aws.realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://ap-south-1.aws.data.mongodb-api.com</string>
    <key>dataExplorerLink</key>
    <string>https://cloud.mongodb.com/links/64d179b35098160e4122ceef/explorer/FreeCluster/database/collection/find</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
